.textfield-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

.textfield {
    border: none;
    border-bottom: 2px solid lightgrey;
    padding: 8px;
    width: 100%;
}

.textfield:focus {
    border-color: lightblue;
    outline: none;
}

.radiofield-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
  }

.radiofield-input {
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
}
